#comments-holder {
	margin: 10px;
	padding-bottom: 40px;
}

#image-holder {
	height: 100%;
	margin: 10px;
}

#art {
	height:90%;
	cursor:crosshair;
}

#rating {
	text-align: center;
}

.star {
	height: 80px;
	width: 80px;
	opacity:0.6;
}

.brand {
	font-family: 'Cabin Sketch', cursive;
}

.comment-box {
	resize: none;
}

.comment {
	background-color: white;
}

.post {
	z-index: 5;
	margin-top: -9px;
	margin-bottom: 15px;
	margin-left: 0px;
}