#comments-holder {
	margin: 10px;
	padding-bottom: 40px;
}

#tags-holder {
	margin: 10px;
	padding-bottom: 40px;
}
#groups-holder {
	margin: 10px;
	padding-bottom: 40px;
}

#image-holder {
	height: 100%;
	margin: 10px;
}

#art {
	height:90%;
	cursor:crosshair;
}

#rating {
	text-align: center;
}

#ratingText {
	padding: 0;
	margin: 0;
}

.droppable {
	opacity: 0.8;
}

.pin-comment {
	margin-left: -10px;
	margin-right: 10px;
	font-size: 20;
	color:  #E01B3F;
}

.pin-comment-unselected {
	margin-left: -10px;
	margin-right: 10px;
	font-size: 20;
	color: #e3e3e3;
	cursor: pointer;
}

.close-annotation {
	float: right;
}

.star {
	height: 50px;
	width: 50px;
	opacity:0.6;
	left: 0;
	position: absolute;
}

.starContainer{
	height:50px;
	width:50px;
	overflow:hidden;
	position:relative;
	display:inline-block;
}

.star-hider{
	background-color :#eeeeee;
	height:50px;
	text-align: right;
	z-index: 100;
	top:0;
	right:0;
	position: absolute;
	

}

.linkBox
{
	cursor:pointer !important;
}

.partial-star{

}

.brand {
	font-family: 'Cabin Sketch', cursive;
}

.btn-primary
{
	margin: 0px 2px;
}

.nav-content {
	padding: 0px 10px;
}

.container
{
	width: 40%;

}

.comment-box {
	width: 94%;
	margin-left: 15px;
	margin-right: 15px;
	resize: none;
	background-color: white;
}

.comment {
	background-color: white;
	word-wrap: break-word;
}

.comment-pin {
	border-color: #E01B3F;
}

.post {
	width: 94%;
	margin-left: 15px;
	margin-right: 15px;	
	margin-top: -10px;
	margin-bottom: 10px;
}

.pin {
	color: #E01B3F;
	opacity: 0.7;
	position: absolute;
	font-size: 40px;
	z-index:100;
}

.btn-insert-tag {
	color: #ffffff;
	background-color: #0088cc;
	border-radius: 5px;
	padding: 5px;
}

.insertTags
{
	background-color: transparent;
	width: 100%;
	margin-right: 15px;
	margin-bottom: -10px;
	vertical-align: top;
}

.menu-btn {
	float: right;
}

.glow {
	box-shadow: 0px 0px 5px #E01B3E;
}

.alert {
	margin: 0px 10px;
}