#comments-holder {
	margin: 10px;
	padding-bottom: 40px;
}

#tags-holder {
	margin: 10px;
	padding-bottom: 40px;
}
#groups-holder {
	margin: 10px;
	padding-bottom: 40px;
}

#image-holder {
	height: 100%;
	margin: 10px;
}

#art {
	height:90%;
	cursor:crosshair;
}

#rating {
	text-align: center;
}

.star {
	height: 80px;
	width: 80px;
	opacity:0.6;
}

.brand {
	font-family: 'Cabin Sketch', cursive;
}

.btn-primary
{
	margin: 0px 2px;
}

.nav-content {
	padding: 0px 10px;
}

.comment-box {
	resize: none;
	border-radius: 5px 5px 0px 0px;
}

.comment {
	background-color: white;
	word-wrap: break-word;
}

.comment-pin {
	border-color: #E01B3F;
}

.post {
	z-index: 5;
	margin-top: -10px;
	margin-bottom: 15px;
	margin-left: 0px;
	border-radius: 0px 0px 5px 5px;
}

.pin {
	color: #E01B3F;
	position: absolute;
	font-size: 40px;
	z-index:100;
}

.insertTags
{
	margin: 0px 10px;
}

.menu-btn {
	float: right;
}